/*General*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

/*Header-Menu*/
nav{
    font-family: 'Oswald', sans-serif; 
}


/*Hero section*/

#hero-section{
    margin-bottom: 100px;
}

#carouselExampleControls{
    max-height: 80vh;
    object-fit: cover;
    filter: grayscale(70%);  
}

/*Figures section*/
#figures-section{
    margin-top: 50px; 
    margin-bottom: 50px;   
}

#figures-title{
    margin-bottom: 5rem;
}

#card{
    margin-bottom: 15px !important;
}

#custom-button{
    font-family: 'Oswald', sans-serif; 
    letter-spacing: 3px;
}

/*Footer */
#footer{
    margin-top: 100px;
    background: #212529;
}

#footer a,
#footer p{
    color: white;
}

#repositorio,
#contacto-gitlab a{
  color: #ffc107 !important;
}